.Title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(61, 19, 19);
    padding: 10px;
    font-size: 20px;

}